body {
    
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  text-align: center; 
  background: #79a5ba; 
    color: #9f0404; 
    text-shadow: 0 0 5px #a30b0b70, 0 0 10px #aa151570;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff3333, 0 0 30px #990000;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-shadow: 0 0 5px #ff0000;
}

.photobook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 100px;
    margin: auto;
    background-color: #180b2f33; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px #990000; 
}

.photobook img {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 8px #ff0000, 0 4px 12px rgba(0,0,0,0.5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
    border: 2px solid black;
}

.photobook img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff0000, 0 6px 20px rgba(0,0,0,0.5);
}

.photobook img:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px #990000, 0 4px 12px rgba(0,0,0,0.5);
}
.photobook img.selected {
    border: 4px solid #ff0000;
    box-shadow: 0 0 25px #ff0000, 0 8px 30px rgba(0,0,0,0.7);
}